.portfolio__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
}

.portfolio__item {
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.4rem;
  text-transform: capitalize;
}

.portfolio__item:hover {
  color: var(--magenta-color-light);
  transition: .3s;
  cursor: pointer;
}

.portfolio__container {
  grid-template-columns: repeat(2, 400px);
  gap: 3rem;
  justify-content: center;
}

.portfolio__card {
  background-color: #212121;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .4rem;
  position: relative;
  overflow: hidden;
  height: 250px;
}

.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .4rem;
  margin-bottom: var(--mb-1);
}

/* Hover */
.portfolio__card--hover {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
  hsla(0, 0%, 0%, 0) 0%,
  hsla(343, 92%, 46%, 0.8) 120%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* Safari */
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: bottom .4s;
  color: #111111;
}

.portfolio__card:hover .portfolio__card--hover {
  bottom: 0;
}

.portfolio__title {
  color: var(--container-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.portfolio__button {
  color: var(--container-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.portfolio__button-icon {
  font-size: 1rem;
  transition: 0.4s;
}

.portfolio__button:hover .portfolio__button-icon {
  transform: translateX(0.25rem);
}

.portfolio__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* active portfolio */

.active-portfolio {
  color: var(--magenta-color);
}

.portfolio__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* Safari */
  z-index: var(--z-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.portfolio__modal-content {
  width: 60rem;
  position: relative;
  background-color:  var(--darkgray-color);
  padding: 4.5rem 2.5rem 2.5rem;
  border-radius: .4rem;
}

.portfolio__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.portfolio__modal-img {
  margin-bottom: var(--mb-1);
}

.portfolio__modal-title,
.portfolio__modal-description {
  text-align: center;
}

.portfolio__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.portfolio__modal-description {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}


.portfolio__modal-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  margin-bottom: var(--mb-1);
}

.portfolio__modal-icon {
  color: var(--text-color);
  font-size: 1.5rem;
}

.portfolio__modal-buttons {
  display: flex;
  justify-content: space-between;
}

.portfolio__modal-button {
  color: var(--container-color);
  background-color: var(--darkgrey-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  border-radius: 0.5rem;
}

.portfolio__modal-button:hover {
  background-color: var(--magenta-color);
  transition: .3s;
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}


/* Breakpoints */
/* For large devices  */
@media screen and (max-width: 992px) {
 .portfolio__container {
    grid-template-columns: repeat(2, 350px);
    gap: 1.25rem;
 }

 .portfolio__card {
    height: 200px;
 }

 .portfolio__title {
    margin-bottom: 0.25rem;
 }
}
@media screen and (max-width: 768px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
  }

  .portfolio__card {
    height: 180px;
 }

}
@media screen and (max-width: 576px) {
  .portfolio__container {
    grid-template-columns: 1fr;
  }
  .portfolio__modal-content {
    padding: 4.5rem 1.5rem 2.5rem;
  }

  .portfolio__modal-description {
    padding: 0;
  }

  .portfolio__card {
    height: 260px;
 }
}

/* For small devices  */
@media screen and (max-width: 390px) {
  .portfolio__item {
    font-size: var(--small-font-size);
  }

  .portfolio__filters {
    column-gap: 0.25rem;
  }

  .portfolio__card {
    height: 180px;
 }
}
